.info-wrap {
    width: 100vw;
    padding-top: 24px;
    border: 1px solid green;
}

.info-container {
    width: max(80vw, 840px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid blue;
}

.low {
    width: 100%;
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.center {
    justify-content: center;
}

.low-text {
    width: 100%;
}

.beer-image {
    width: max(60%, 480px);
    height: 480px;
    border: 1px solid orchid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beer-info {
    width: max(40%, 360px);
    height: 480px;
    border: 1px solid peru;
}

.comment-container {
    margin-top: 16px;
    width: 100%;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid mediumaquamarine;
}

.recommend-container {
    display: flex;
    white-space: nowrap;
    overflow: auto;
}