
.info-wrap {
    padding-top: 24px;
}

.info-container {
    width: max(70vw, 840px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.low {
    width: 100%;
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.center {
    justify-content: center;
}

.low-text {
    width: 100%;
}

.beer-name {
    margin-block-end: 0.5em;
}

.beer-image {
    width: max(55%, 460px);
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem 0px 0px 0px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.beer-info-wrap {
    width: max(45%, 380px);
    height: 480px;
    border-radius: 0px 0.5rem 0px 0px;
    padding: 12px 0px 0px 24px;
    background-color: rgba(0, 0, 0, 0.5);
}

.beer-info {
    animation-duration: 0.5s;
    animation-name: info-slide-in;
}

@keyframes info-slide-in {
    from {
        margin: 0px 0px 0px 32px;
    }

    to {
        margin: 0px 0px 0px 0px;
    }
}

.beer-description {
    line-height: 1.5em;
}

.comment-container {
    width: 100%;
    border-radius: 0px 0px 0.5rem 0.5rem;
    padding: 0px 32px 0px 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
}

.comment-wrap {
    width: min(100%, 840px);
}

.recommend-container {
    width: 100%;
    margin-top: 32px;
    display: flex;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}

.type-recommend-container {
    width: 100%;
}

.recommend-wrap {
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
}

.recommend-title {
    margin-left: 24px;
}

