.beercard-wrap {
    width: 200px;
    height: 200px;
    margin: 16px 0px 16px 0px;
}

.beercard {
    width: 200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.beerimage-wrap {
    margin-left: 50px;
}

.beer-like {
    position: relative;
}

.card-title-wrap {
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: center;
    font-family: "DungGeunMo";
    font-size: 12pt;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 0px 8px 0px;
}

.card-title {
    color: white;
    height: 100%;
}