.beercard-wrap {
    width: 200px;
    height: 200px;
    margin: 16px 0px 16px 0px;
}

.beercard {
    width: 200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.beerimage-wrap {
    margin-left: 50px;
}

.beer-like {
    position: relative;
}

.card-title {
    width: 200px;
    text-align: center;
    font-family: "DungGeunMo";
    font-size: 12pt;
    color: white;
}