* {
    font-family: "DungGeunMo";
}

.beermatch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.match-title {
    width: 100%;
    color: white;
    text-align: center;
    font-weight: normal !important;
}

.beermatch-wrap {
    width: 640px;
    height: 400px;
    margin: auto;
    padding-top: 24px;
    display: flex;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.matchimage-wrap {
    width: 240px;
    margin-left: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.matchimage {
    padding: 0px 32px 142px 0px;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.785, 0.105, 0.840, 0.730);
    animation-name: drop-down;
}

@keyframes drop-down {
    from {
        padding: 0px 32px 360px 0px;
    }
    to {
        padding: 0px 32px 142px 0px;  
    }
}

.matchimage-glass {
    position: absolute;
    z-index: 100;
}

.matchimage-beer-wrap {
    position: absolute;
    width: 104px;
}

.matchimage-beer {
    width: 104px;
    object-fit: cover;
    transition: all 1s;
}

.matchimage-beer.step0 {  
    height: 0px;
    object-position: 0 -144px;
    padding-top: 144px;
}

.matchimage-beer.step1 {
    height: 24px;
    object-position: 0 -120px;
    padding-top: 120px;
}

.matchimage-beer.step2 {
    height: 54px;
    object-position: 0 -90px;
    padding-top: 90px;
}

.matchimage-beer.step3 {
    height: 84px;
    object-position: 0 -60px;
    padding-top: 60px;
}

.matchimage-beer.step4 {
    height: 114px;
    object-position: 0 -30px;
    padding-top: 30px;
}

.match-sheet {
    color: white;
    overflow: auto;
    width: 400px;
    display: flex;
    align-items: center;
}

.match-container {
    position: relative;
    display: flex;
    transition: all 1s;
}

.submit-0 {
    right: 0px;
}

.submit-1 {
    right: 400px;
}

.submit-2 {
    right: 800px;
}

.submit-3 {
    right: 1200px;
}

.submit-4 {
    right: 1600px;
}
  
.question {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 400px;
    margin-bottom: 40px;
}

.question-title {
    width: 100%;
    text-align: center;
    margin: 0px 0px 24px 0px;
    font-size: 21px;
}

.question-answers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.answer {
    width: 240px;
    height: 32px;
    margin-bottom: 8px;
}

.answer-button {
    width: 100%;
    height: 100%;
    font-size: 15px;
    background: 
        linear-gradient(rgb(45, 35, 58),rgb(45, 35, 58)) padding-box, /*this is your grey background*/
        linear-gradient(to right, #e0ce26, #3bf0c8) border-box;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius:1rem;
}

.answer-button:hover {
    background: 
        linear-gradient(to right, #e0ce26, #3bf0c8) border-box;
    color: black;
    cursor: pointer;
}