.beermatch-wrap {
    width: 640px;
    height: 400px;
    margin: auto;
    display: flex;
    border: 1px solid slateblue;
}

.matchimage-wrap {
    width: 240px;
    margin-left: 0px;
    height: 100%;
    border: 1px solid red;
}

.match-sheet {
    border: 1px solid skyblue;
    overflow: auto;
    width: 400px;
}

.match-container {
    position: relative;
    display: flex;
    transition: all 1s;
}

.submit-0 {
    right: 0px;
}

.submit-1 {
    right: 400px;
}

.submit-2 {
    right: 800px;
}

.submit-3 {
    right: 1200px;
}
  
.question {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 400px;
}

.question-title {
    width: 100%;
    text-align: center;
}

.question-answers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.answer {
    width: 240px;
    height: 32px;
    margin-bottom: 8px;
}

.answer-button {
    width: 100%;
    height: 100%;
}

.answer-button:hover {
    background-color: purple;
    color: wheat;
    cursor: pointer;
}