.types-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.types-list-wrap {
    width: 100%;
}

ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}

li {
    padding: 4px 8px 4px 8px;
    margin: 0px 4px 0px 4px;
    text-align: center;
    color: white;
    border-bottom: 1px solid rgb(202, 219, 48);
}

li:hover {
    border-radius: 4px;
    color: black;
    background: 
        linear-gradient(to right, #e0ce26, #3bf0c8) border-box;
    border-bottom: none;
    cursor: pointer;
}

li.type-selected {
    border-radius: 4px;
    color: black;
    background: 
        linear-gradient(to right, #e0ce26, #3bf0c8) border-box;
    border-bottom: none;
}

.types-explain-wrap {
    width: 480px;
    height: 320px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    background-color: rgba(3, 2, 2, 0.5);
    color: white;
}