.types-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.types-title {
    width: 100%;
    color: white;
    text-align: center;
    font-weight: normal !important;
}

.types-list-wrap {
    width: 100%;
    margin-top: 8px 0px 8px 0px;
}

ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}

li {
    padding: 4px 8px 4px 8px;
    margin: 0px 8px 0px 8px;
    text-align: center;
    color: white;
    border-bottom: 1px solid rgb(202, 219, 48);
}

li:hover {
    border-radius: 4px;
    color: black;
    background: 
        linear-gradient(to right, #e0ce26, #3bf0c8) border-box;
    border-bottom: none;
    cursor: pointer;
}

li.type-selected {
    border-radius: 4px;
    color: black;
    background: 
        linear-gradient(to right, #e0ce26, #3bf0c8) border-box;
    border-bottom: none;
}

.types-wrap {
    width: 720px;
    height: 420px;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(3, 2, 2, 0.5);
    color: white;
}

.types-explain-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.types-image-wrap {
    width: 280px;
    height: 80%;
    border: 1px solid red;
    margin-right: 32px;
}

.types-explain-wrap p {
    width: 320px;
}