.no-margin-title {
    margin-block-end: 0rem;
}

.low {
    width: 100%;
    align-content: flex-start;
}

.new {
    margin: 8px 0px 24px 0px;
    padding: 0px 0px 0px 0px !important;
}

.new:hover {
    background: transparent !important;
}

.comment.low {
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding: 0px 16px 0px 8px;
}

.comment.low:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.comments.low.wrap {
    height: 304px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.nickname-input {
    width: 15%;
}

.comment-input {
    width: 70%;
}

.comment input[type="text"] { 
    background: transparent;
    color: white;
    font-size: 18px;
    padding: .5em .4em;
    font-family: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.363); 
    border-radius: 0;
    outline-style: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none; 
    box-shadow: none;
    text-decoration-color: white;
    outline: none !important;
    transition: 0.2s;
}

.comment input[type="text"]:focus-visible {
    border-bottom: 2px solid white;
    transition: 0.2s;
}

.comment-submit-btn {
    width: 64px;
    background: 
        linear-gradient(rgb(45, 35, 58),rgb(45, 35, 58)) padding-box,
        linear-gradient(to right, #e0ce26, #3bf0c8) border-box;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius:0.5rem;
}

.comment-submit-btn:hover {
    background: 
        linear-gradient(to right, rgb(224, 206, 38), #3bf0c8) border-box;
    color: black;
    cursor: pointer;
}

.error-message {
    margin-top: 8px;
    color: rgb(255, 242, 121);
}