.low {
    width: 100%;
}

.new {
    height: 24px;
}

.comment-input {
}

.comment.low {
    display: flex;
    justify-content: space-between;
}

.comments.low.wrap {
    height: 304px;
    overflow: auto;
}